
* {
    margin: 0;
    padding: 0;
    font-family: "Sofia", sans-serif;
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(../images/uvodny.png);
    background-position: center;
    background-size: cover;
    position: relative;
}



nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 150px;
}

.nav-links{
    flex: 1;
    text-align: right;
    margin-top: -4vw;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 0.75vw 1vw;
    position: relative;
}

.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 1.5vw;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 0.2vw;
    background: green;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}

.nav-logo {
    flex: 1;
    text-align: left;
    margin-top: -2vw;
    margin-left: -4.5vw;
}

.nav-logo ul li{
    list-style: none;
    display: inline-block;
    padding: 0.75vw 1vw;
    position: relative;
}

.nav-logo ul li a {
    color: limegreen;
    text-decoration: none;
    font-size: 4vw;
    font-family: "Brush Script MT";
}

.nav-logo ul li a:hover{
    color: yellow;
    transition: 0.75s;


}


h1{
    font-size: 3vw;
    color: white;


}

.starterBox h1 {
    font-size: 2.75vw;
    color: white;
}

.main-title{
    top: 3.5vw;
    left: 23.9vw;
    position: absolute;
}

.main-title h1{
    font-size: 3vw;
    color: white;

}

.main-title p{
    font-family: "Georgia", "Courier New", monospace;
    font-size: 2.5vw;
    left: 3vw;
    position: absolute;
    color: white;
}


.categories-title{
    font-family: "Georgia", "Courier New", monospace;
    position: absolute;
    text-align: center;
    width: 19vw;
    top: 3vw;
    left: 2.5vw;

}

.categories-box{
    position: absolute;
    top: 28vw;
    left: 12vw;
    transform: translate(-50%, -50%);
    text-align: left;
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;


}

.categories-box a{
    margin-top: 0.2vw;
    font-family: "Georgia", "Courier New", monospace;
    color: #fff;
    text-decoration: none;
    font-size: 1.5vw;
}

.hero-btn{
    margin-bottom: 0.2vw;
    border-radius: 15%;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 0.1vw solid #fff;

    padding: 0.75vw 2vw;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}


.hero-btn:hover{
    border: 1px solid #ffffff;
    background: limegreen;
    transition: 0.3s;
    transform: translateX(-5px);
}

.hero-btn:active {
    transform: translateX(5px);
    border: 1px solid #ffffff;
    background: limegreen;
    transition: 0.3s;
}

.listed-products{
    top: 5vw;
    left: 18.5vw;
    text-align: center;
    width: 66vw;
    height: 30vw;
    background-position: center;
    background-size: cover;
    position: absolute;
}

.best-products-column-image{
    flex-basis: 22vw;
    border-radius: 2vw;
    margin-bottom:0.5vw;

    margin-right: 3vw;
    position: relative;



}

.separator{
    margin-left: 5.5vw;
}

.best-products-row{
    margin-top: 3vw;
    display:flex;

}

.best-products-column-image img{
    width: 12vw;

}

.best-products-layer{
    background: transparent;
    height: 14vw;
    width: 24vw;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.75s;
}

.best-products-layer:hover{
    background: limegreen;
    opacity: 0.65;
}

.best-products-layer h3{
    width: 20vw;
    font-weight: 500;
    color: black;
    font-size: 2vw;
    bottom: -0.1vw;
    left: 11vw;
    transform: translateX(-50%);
    position: absolute;
    opacity: 1;
    transition: 0.5s;
}

.best-products-layer:hover h3{
    bottom: 6vw;
    opacity: 1;

}



.best-products-column-image h1 {

    color: yellow;
    font-size: 1vw;
    position: absolute;
    text-align: center;

}

.best-products-column-image p{

    color: orange;
    font-size: 1.5vw;
    bottom: 0.125vw;
    left: 4vw;
    position: absolute;

}



.starterBox{
    border-radius: 3vw;
    width: 22vw;
    height: 30vw;
    background: #000;
    color: #fff;
    top: 24vw;
    left: 52vw;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;

}

.starterBox input{
    width: 19vw;
    margin-top:1vw;
    border: none;
    outline: none;
    height: 4vw;
    margin-left: 1.4vw;
    color: #fff;
    font-size: 1.2vw;
    border-radius: 1.8vw;
}

.starterBox input[type="submit"] {
    background: limegreen;
}






.starterBox input[type="submit"]:hover
{
    cursor: pointer;
    background: #ffc107;
    color:#000;

}

.starterBox h1 {
    text-align: center;
    margin-top: 1vw;
    font-size: 2vw;
}



.pageNumebrsBox {

    width: 23vw;
    height: 3vw;
    top: 46vw;
    left: 60vw;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;

}

.pageNumebrsBox input{
    width: 2vw;
    margin-top:0.5vw;
    margin-left: 1vw;
    border: none;
    outline: none;
    height: 2vw;
    alignment: center;
    font-size: 1vw;
    border-radius: 20px
}

.pageNumebrsBox input[type="submit"]:hover {
    cursor: pointer;
    background: limegreen;
    color:#000;
}

.infoAboutHowManyProducts {
    position: absolute;
    margin-left: 80vw;
    margin-top: 37vw;
}

.infoAboutHowManyProducts h1{
    color: white;
    font-size: 1vw;
}

.best-products-effect{
    background: transparent;
    height: 13.6vw;
    width: 12vw;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.best-products-effect:hover{
    background: darkgreen;
    opacity: 0.8;
}

.best-products-effect h1{


    left: 6vw;
    bottom: -2.5vw;

    transform: translateX(-50%);
    position: absolute;
    transition: 0.5s;

    color: yellow;
    font-size: 1vw;
    width: 12vw;
    height: 2vw;
    text-align: center;



}

.best-products-effect:hover h1{
    bottom: 6.5vw;


    font-weight: bold;

}

.loginbox{
    border-radius: 30px;
    width: 320px;
    height: 360px;
    background: #000;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 40px 30px;
}



.loginbox h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;

}

.loginbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;

}

.loginbox input{
    width: 100%;
    margin-bottom: 4px;
}



.loginbox input[type="text"], input[type="password"]
{
    border: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;

}

.loginbox input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: limegreen;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

.loginbox input[type="submit"]:hover
{
    cursor: pointer;
    background: #ffc107;
    color:#000;

}

.loginbox a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;;
}

.loginbox a:hover
{
    color: #ffc107;
}

.registrationBox{
    border-radius: 30px;
    width: 320px;
    height: 720px;
    background: #000;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 30px 30px;
}



.registrationBox h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;

}

.registrationBox p{
    margin: 0;
    padding: 0;
    font-weight: bold;

}

.registrationBox input{
    width: 100%;
    margin-bottom: 4px;
}

.registrationBox input[type="text"], input[type="password"]
{
    border: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;

}

.registrationBox input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: limegreen;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

.registrationBox input[type="submit"]:hover
{
    cursor: pointer;
    background: #ffc107;
    color:#000;

}

.registrationBox a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;;
}

.registrationBox a:hover
{
    color: #ffc107;
}

.recovery-box{
    border-radius: 30px;
    width: 320px;
    height: 300px;
    background: #000;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 30px 30px;
}

.categories-box{
    position: absolute;
    margin-top: -2vw;
    transform: translate(-50%, -50%);
    text-align: left;
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;

    border-radius: 25px;
    height: 41vw;
    width: 17vw;


}

.dropbtn {
    font-weight: bold;
    margin-left: 0.5vw;
    border-radius: 15px;
    text-align: center;
    position: relative;
    background-color: white;
    width: 16vw;
    height: 4vw;
    color: black;
    padding: 1vw;
    font-size: 1vw;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: limegreen;
    color: black;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-top: 0.5vw;
}

.dropdown-content {
    border-radius: 15px;
    display: none;
    position: absolute;
    background-color: white;
    min-width: 18vw;
    text-align: center;
    margin-left:  16.75vw;
    margin-top: -8vw;
    overflow: auto;

    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;

}

.dropdown-content a {
    margin-top: -0.1vw;
    font-size: 1vw;
    color: black;
    border: 1px solid black;
    padding: 0.8vw 1.1vw;
    text-decoration: none;
    display: block;
    font-weight: bolder;

}

.dropdown a:hover {background-color: limegreen;}

.show {display: block;}

.recovery-box h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;

}

.recovery-box p{
    margin: 0;
    padding: 0;
    font-weight: bold;

}

.recovery-box input{
    width: 100%;
    margin-bottom: 2px;
}

.recovery-box input[type="text"]
{
    border: none;
    border: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;

}

.recovery-box input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: limegreen;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    position: absolute;
    width: 80%;
    top: 75%;


}

.recovery-box input[type="submit"]:hover
{
    cursor: pointer;
    background: #ffc107;
    color:#000;

}

.recovery-box a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;;
}

.recovery-box a:hover
{
    color: #ffc107;
}

.editProfileBox{
    border-radius: 30px;
    width: 320px;
    height: 600px;
    background: black;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 30px 30px;
}



.editProfileBox h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;

}

.editProfileBox p{
    margin: 0;
    padding: 0;
    margin-bottom: 0.5vw;
    font-weight: bold;

}

.editProfileBox input{
    width: 100%;
    margin-bottom: 2px;
}

.editProfileBox input[type="text"], input[type="password"]
{
    border: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;

}

.editProfileBox input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: limegreen;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

.editProfileBox input[type="submit"]:hover
{
    cursor: pointer;
    background: #ffc107;
    color:#000;

}

.editProfileBox a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;;
}

.editProfileBox a:hover
{
    color: #ffc107;
}

.changePasswordBox{
    border-radius: 30px;
    width: 320px;
    height: 320px;
    background: #000;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 30px 30px;
}



.changePasswordBox h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;

}

.changePasswordBox p{
    margin: 0;
    padding: 0;
    margin-bottom: 0.5vw;
    font-weight: bold;

}

.changePasswordBox input{
    width: 100%;
    margin-bottom: 2px;
}

.changePasswordBox input[type="text"], input[type="password"]
{
    border: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;

}

.changePasswordBox input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: limegreen;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

.changePasswordBox input[type="submit"]:hover
{
    cursor: pointer;
    background: #ffc107;
    color:#000;

}

.changePasswordBox a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;;
}

.changePasswordBox a:hover
{
    color: #ffc107;
}

.productShowingLayout {
    position: absolute;
    margin-left: 25vw;
    margin-top: -2vw;
    width: 70vw;
    height: 20vw;
}

.productShowingLayout img {
    width: 16vw;

}

.productShowingLayout h1 {
    color: limegreen;
    margin-left: 17vw;
    margin-top: -18vw;
    position: relative;
    font-size: 2vw;
}

.productShowingLayout h2 {
    color: orange;
    margin-left: 45vw;
    margin-top: 7.5vw;
    position: absolute;
    font-size: 3vw;
}

.productShowingLayout h4 {

    margin-left: 43vw;
    margin-top: 15.5vw;
    font-size: 1.5vw;
    color: red;

}

.productShowingLayout input {

    position: absolute;


    color: #fff;
    font-size: 1.1vw;

}

.productShowingLayout input[type="submit"] {
    width: 5vw;
    height: 4vw;
    margin-left: 50vw;
    margin-top: 11vw;
    background: limegreen;
}

.productShowingLayout input[type="submit"]:hover
{
    cursor: pointer;
    background: #ffc107;
    color:#000;

}

.productShowingLayout input[type="number"] {
    width: 3vw;
    height: 4vw;
    background-color: white;
    color: black;
    text-align: center;
    font-size: 2vw;
    margin-left: 46vw;
    margin-top:11vw;
    border: black;
}

.selectBox select {
    width: 10vw;
    height: 2vw;
    margin-left: 45vw;
    text-align: right;
    font-size: 1vw;
}
.selectBox .selectPackBox {
    position: absolute;
    margin-top: 5vw;
}

.selectBox .selectFlavourBox {
    position: absolute;
    margin-top: 2vw;
}


.productShowingLayout h3 {
    position: absolute;
    font-size: 1vw;
    color: white;
    margin-left: 17vw;
    margin-top: 13vw;
}

.productShowingLayout a {
    position: absolute;
    margin-top: 13vw;
    margin-left: 24vw;
    color: limegreen;
    font-size: 1vw;
    text-decoration: none;
}

.productShowingLayout a:hover {
    text-decoration: underline;
}

.navBeforeCategories {
    position: absolute;
    margin-left: 25vw;
    margin-top: -5vw;
}

.navBeforeCategories p {
    color: white;
    position: relative;
    display: inline-block;
    font-size: 1vw;
}

.navBeforeCategories a {
    color: white;
    display: inline-block;
    font-weight: bold;
    font-size: 1vw;
    text-decoration: none;
}

.navBeforeCategories a:hover {
    color: limegreen;
}

.productDescription {
    position: relative;
    margin-top: 18vw;
    margin-left: 25vw;
    width: 57vw;

}

.productDescription h1 {
    font-size: 1.5vw;
    color:limegreen;
    width: 57vw;
    text-align: left;
}

.productDescription p {
    margin-top: 0.25vw;
    text-align: left;
    color: white;
    font-size: 1vw;
}

.keyBenefits {
    margin-top: 1vw;
    position: relative;
    margin-left: 25vw;
    width: 57vw;
}

.keyBenefits h1 {
    font-size: 1.5vw;
    color:limegreen;
    width: 57vw;
    text-align: left;
}

.keyBenefits p {
    margin-top: 0.5vw;
    text-align: left;
    color: white;
    font-size: 1vw;
    font-weight: bold;
}

.dosage {
    margin-top: 1vw;
    position: relative;
    margin-left: 25vw;
    width: 57vw;
}

.dosage h1 {
    font-size: 1.5vw;
    color:limegreen;
    width: 57vw;
    text-align: left;
}

.dosage p {
    margin-top: 0.25vw;
    text-align: left;
    color: white;
    font-size: 1vw;
}

.nutricneHodnoty {
    margin-top: 1vw;
    position: relative;
    margin-left: 25vw;
    width: 57vw;
}

.nutricneHodnoty h1 {
    font-size: 1.5vw;
    color:limegreen;
    width: 57vw;
    text-align: left;
}

.nutricneHodnoty table {
    border-collapse: collapse;
    border: 1px solid black;

}

.nutricneHodnoty table.tabulkaNutricnychHodnot {
    margin-top: 0.5vw;
    table-layout: fixed;
    width: 100%;

}

th,td {
    border: 1px solid white;
    color: white;
    font-size: 1vw;
    height: 2vw;
}

.zlozenie {
    margin-top: 1vw;
    position: relative;
    margin-left: 25vw;
    width: 57vw;
}

.zlozenie h1 {
    font-size: 1.5vw;
    color:limegreen;
    width: 57vw;
    text-align: left;
}

.zlozenie p {
    margin-top: 0.25vw;
    text-align: left;
    color: white;
    font-size: 1vw;

}

.basket {
    position: absolute;
    width: 65vw;
    margin-left: 25vw;

    margin-top: -3vw;



}

.basket h1 {
    font-size: 2.5vw;
    margin-left: 22vw;
    color: limegreen;
    position: absolute;
}

.basket .columns {
    position: relative;
    margin-left: -5vw;
    margin-top: 1vw;


}


.basket .columns h1 {
    color: yellow;
    position: relative;
    margin-left: 2vw;
    font-size: 1.25vw;
    margin-top: 3vw;
    display: inline-block;
}

.basket .columns h3 {
    color: yellow;
    position: relative;
    margin-left: 6vw;
    font-size: 1.25vw;
    margin-top: 3vw;
    display: inline-block;
}

.basket .columns h2 {
    color: yellow;
    position: relative;
    margin-left: 18vw;
    font-size: 1.25vw;
    margin-top: 3vw;
    display: inline-block;
}

.basketProducts {
    position: relative;
    margin-left: 25vw;
    margin-top: 3vw;
}
.basketProducts .oneProduct {
    margin-top: 0.25vw;
    position: relative;
    width: 60vw;
    height: 5vw;
    background-color: white;
}

.basketProducts .kupon {
    margin-top: 3vw;
    position: relative;
    width: 60vw;
    height: 3.25vw;
    background-color: white;
}

.basketProducts .kupon h1 {
    font-weight: bold;
    position: absolute;
    font-size: 1.25vw;
    color: limegreen;
    margin-left: 1vw;
    margin-top: 1vw;
}

.basketProducts .kupon input[type="text"] {
    position: absolute;
    font-size: 1.25vw;
    color: black;
    margin-left: 16vw;
    width: 10vw;
    margin-top: 1vw;
}

.basketProducts .kupon input[type="submit"] {
    position: absolute;
    font-size: 1.25vw;
    color: black;
    margin-left: 54vw;
    background-color: limegreen;
    width: 5vw;
    margin-top: 1vw;
    border-radius: 1vw;
    font-weight: bold;
}

.basketProducts .kupon h2 {
    font-weight: bold;
    position: absolute;
    font-size: 1.25vw;
    color: black;
    margin-left: 28vw;
    margin-top: 1vw;
}

.basketProducts .kupon input[type="submit"]:hover {
    background-color: yellow;
}


.basketProducts .oneProduct img {
    width: 4vw;
    margin-left: 1vw;
    position: absolute;
}

.basketProducts .oneProduct h2{
    margin-top: 3vw;
    margin-left: 6vw;
    color:black;
    position: absolute;
    font-size: 1vw;
}

.basketProducts .oneProduct a {
    position: absolute;
    font-size: 1vw;
    margin-top: 1vw;
    margin-left: 6vw;
    color: limegreen;
    font-weight: bolder;
    text-decoration: none;
}

.basketProducts .oneProduct a:hover {
    text-decoration: underline;
}

.basketProducts .oneProduct input[type = "number"] {
    position: absolute;
    margin-top: 1vw;
    margin-left: 33vw;
    font-size: 1vw;
    text-align: center;
    width: 3vw;
    height: 3vw;
}

.basketProducts .oneProduct h3 {
    position: absolute;
    margin-left: 42vw;
    margin-top: 2vw;
    font-size: 1vw;
}

.basketProducts .oneProduct h4 {
    position: absolute;
    margin-left: 49vw;
    font-size: 1vw;
    margin-top: 2vw;
    text-align: center;
    font-weight: bold;

}

.basketProducts .oneProduct .deleteOption {
    width: 5vw;
    height: 3vw;
    position: absolute;
    margin-left: 54vw;
    margin-top: 1vw;

}

.basketProducts .oneProduct .deleteOption a {
    font-size: 1vw;
    position: absolute;
    margin-left: 1vw;
    margin-top: 1vw;
    color: red;
    font-weight: bold;
}

.basketProducts .zuctovanie {
    margin-top: 3vw;
    width: 60vw;
    height: 9vw;
    background-color: white;
}

.basketProducts .zuctovanie .pokracuj {
    position: absolute;
    margin-top: 1vw;
    margin-left: 2vw;

}

.basketProducts .zuctovanie .pokracuj a {
    font-size: 1vw;
    color: black;
    text-decoration: none;
}

.basketProducts .zuctovanie .pokracuj a:hover {
    text-decoration: underline;

}

.basketProducts .zuctovanie .zmazVsetko {
    position: absolute;
    margin-top: 2.5vw;
    margin-left: 2vw;
    width: 10vw;
}

.basketProducts .zuctovanie .zmazVsetko a {
    font-size: 1vw;
    color: black;
    text-decoration: none;
}

.basketProducts .zuctovanie .zmazVsetko a:hover {
    text-decoration: underline;
}

.basketProducts .zuctovanie h1 {
    position: absolute;
    font-size: 1.5vw;
    font-weight: bold;
    margin-top: 1vw;
    margin-left: 32vw;
    color: black;
}

.basketProducts .zuctovanie h2 {
    position: absolute;
    font-size: 1.5vw;
    font-weight: bold;
    margin-top: 1vw;
    margin-left: 44vw;
    color: black;
}

.basketProducts .zuctovanie h3 {
    position: absolute;
    font-size: 1.25vw;
    margin-top: 3vw;
    margin-left: 44vw;
    color: black;
}

.basketProducts .zuctovanie input[type="submit"] {
    position: absolute;
    width: 14vw;
    height: 3vw;
    margin-top: 5.5vw;
    margin-left: 43.5vw;
    border-radius: 1vw;
    background-color: limegreen;
    font-size: 1vw;
    font-weight: bold;
}

.basketProducts .zuctovanie input[type="submit"]:hover {
    background-color: yellow;

}

.transportation {
    position: absolute;
    margin-left: 25vw;
    margin-top: 4vw;
    width: 26vw;
    height:19vw;
    background-color: white;
}

.transportation h1 {
    position: relative;
    font-size: 1.5vw;
    color: limegreen;
    margin-left: 2vw;
    margin-top: 1vw;
}


.transportation input[type="radio"] {
    position: relative;
    margin-top: 3vw;
    margin-left: 2vw;
    display: block;
}

.transportation label {
    padding:0;
    margin-top: -1.25vw;
    color: black;
    font-weight: bold;
    font-size: 1.25vw;
    display: block;
    margin-left: 4vw;
}

.transportation p {
    font-size: 1vw;
    margin-left: 4vw;
}

.payment {
    position: absolute;
    margin-left: 55vw;
    margin-top: 4vw;
    width: 26vw;
    height:19vw;
    background-color: white;
}

.payment h1 {
    position: relative;
    font-size: 1.5vw;
    color: limegreen;
    margin-left: 2vw;
    margin-top: 1vw;
}


.payment input[type="radio"] {
    position: relative;
    margin-top: 3vw;
    margin-left: 2vw;
    display: block;
}

.payment label {
    margin-top: -1.25vw;
    color: black;
    font-weight: bold;
    font-size: 1.25vw;
    display: block;
    margin-left: 4vw;
}

.payment p {
    font-size: 1vw;
    margin-left: 4vw;
}

.makeOrder {
    position: absolute;
    margin-left:42vw;
    width: 22vw;
    height: 10vw;
    margin-top: 26vw;
}

.makeOrder input[type="submit"] {

    width: 20vw;
    height: 6vw;
    margin-top: 1vw;
    margin-left: 1vw;
    border-radius: 1vw;
    background-color: limegreen;
    font-size: 2vw;
    font-weight: bold;
}

input[type="submit"]:hover {
    background-color: yellow;
}


































