* {
    margin: 0;
    padding: 0;
    font-family: "Sofia", sans-serif;
}

.text-box{
    position: absolute;
    margin-top: -2vw;
    transform: translate(-50%, -50%);
    text-align: left;
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    background-color: midnightblue;
    border-radius: 25px;
    height: 41vw;
    width: 17vw;


}

.dropbtn {
    font-weight: bold;
    margin-left: 0.5vw;
    border-radius: 15px;
    text-align: center;
    position: relative;
    background-color: royalblue;
    width: 16vw;
    height: 4vw;
    color: white;
    padding: 1vw;
    font-size: 1vw;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: limegreen;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-top: 0.5vw;
}

.dropdown-content {
    border-radius: 15px;
    display: none;
    position: absolute;
    background-color: mediumslateblue;
    min-width: 18vw;
    text-align: center;
    margin-left:  16.75vw;
    margin-top: -8vw;
    overflow: auto;

    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;

}

.dropdown-content a {
    font-size: 1vw;
    color: white;
    border: 1px solid black;
    padding: 0.8vw 1.1vw;
    text-decoration: none;
    display: block;
    font-weight: bold;

}

.dropdown a:hover {background-color: limegreen;}

.show {display: block;}